body {
    text-align: center;
}

p {
    line-height: 1.5em;
}

#portfolio-header {
    position: relative;
    min-height: 800px;
}

.portfolio-item {
    min-height: 400px!important;
}

.top, .middle, .bottom {
    position: absolute;
    height: 33.33%
}

#project-thumbs a {
    cursor: pointer;
}

.portfolio-item span {
    width: 100%;
    height: 400px;
    display: block;
    line-height: 400px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 1.2em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.portfolio-item:hover span {
    opacity: 1;
}

/* 9 columns in top and bottom rows */
.top, .bottom {
    width: 11.1111%;
}

.top { top: 0; }
.middle { top: 33.33%; }
.bottom {top: 66.66%; }


#top-1, #bottom-1 { left: 0; }
#top-2, #bottom-2 { left: 11.1111%; }
#top-3, #bottom-3 { left: 22.2222%; }
#top-4, #bottom-4 { left: 33.3333%; }
#top-5, #bottom-5 { left: 44.4444%; }
#top-6, #bottom-6 { left: 55.5555%; }
#top-7, #bottom-7 { left: 66.6666%; }
#top-8, #bottom-8 { left: 77.7777%; }
#top-9, #bottom-9 { left: 88.8888%; }

#middle-1, #middle-2 { width: 50%; }
#middle-1 { left: 0; }
#middle-2 { left: 50%; }

#main {
    background: url('../img/glasses.jpg');
    background-size: 800%;
    top: 50%;
    left: 50%;
}

#top-1:hover ~ #main { background-position: 14.2857% 50% }
#top-2:hover ~ #main { background-position: 14.2857% 0 }
#top-3:hover ~ #main { background-position: 28.5714% 0 }
#top-4:hover ~ #main { background-position: 42.8571% 0 }
#top-5:hover ~ #main { background-position: 57.1428% 0 }
#top-6:hover ~ #main { background-position: 71.4285% 0 }
#top-7:hover ~ #main { background-position: 85.7142% 0 }
#top-8:hover ~ #main { background-position: 85.7142% 50% }
#top-9:hover ~ #main { background-position: 100% 100% }

#middle-1:hover ~ #main { background-position: 0 50% }
#middle-2:hover ~ #main { background-position: 28.5714% 50% }


#bottom-1:hover ~ #main { background-position: 0% 100% }
#bottom-2:hover ~ #main { background-position: 14.2857% 100% }
#bottom-3:hover ~ #main { background-position: 28.5714% 100% }
#bottom-4:hover ~ #main { background-position: 42.8571% 100% }
#bottom-5:hover ~ #main { background-position: 57.1428% 50% }
#bottom-6:hover ~ #main { background-position: 57.1428% 100% }
#bottom-7:hover ~ #main { background-position: 71.4285% 50% }
#bottom-8:hover ~ #main { background-position: 71.4285% 100% }
#bottom-9:hover ~ #main { background-position: 85.7142% 100% }

#main:active {
    background-position: 42.8571% 50%;
}

/* Navigation */

#primary-nav:hover + .container #main { background-position: 14.2857% 50% }

#primary-nav, #internal-nav {
    position: absolute;
    z-index: 9999;
    left: 10px;
    top: 10px;
}

#primary-nav a, #internal-nav a {
    text-decoration: none;
    display: inline-block;
    color: #ddd;
    vertical-align: middle;
    margin: 0 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#primary-nav svg {
    width: 18px;
}

#primary-nav svg .nav-svg {
    fill: #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#primary-nav svg .nav-svg:hover {
    fill: #ff00f0;
}

nav a:hover {
    color: #ff00f0!important;
}

a {
    cursor: pointer;
    color: #555;
    font-weight: 400;
}

.portfolio-item {
    transition: all 0.3s ease;
    cursor: pointer;
}

.portfolio-item:hover {
    transform:
}


.portfolio-item[data-pid="0"] {background: url('../projects/project0/thumb.jpg');}
.portfolio-item[data-pid="1"] {background: url('../projects/project1/thumb.jpg');}
.portfolio-item[data-pid="2"] {background: url('../projects/project2/thumb.jpg');}
.portfolio-item[data-pid="3"] {background: url('../projects/project3/thumb.jpg');}
.portfolio-item[data-pid="4"] {background: url('../projects/project4/thumb.jpg');}
.portfolio-item[data-pid="5"] {background: url('../projects/project5/thumb.jpg');}
.portfolio-item[data-pid="6"] {background: url('../projects/project6/thumb.jpg');}
.portfolio-item[data-pid="7"] {background: url('../projects/project7/thumb.jpg');}
.portfolio-item[data-pid="8"] {background: url('../projects/project8/thumb.jpg');}
.portfolio-item[data-pid="9"] {background: url('../projects/project9/thumb.jpg');}

.portfolio-item {
    background-size: cover!important;
    background-position: center!important;
}

#down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    opacity: 0.2;
    width: 120px;
}

#down-arrow:hover ~ .container #main {
     background-position: 57.1428% 50%;
}

/* Portfolio Page */

#project-back {
    position: fixed;
}

.project_animation video {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.project-details.fixed {
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 50%;
}

.project-details.fixed p {
    opacity: 1;
}

.project-details p {
    opacity: 0;
    transition: all 0.5s ease;
    max-width: 95%;
    float: right;
}

.project-content_sample img {
    max-width: 100%;
}

#project_animation-controls {
    text-align: center;
    margin: 0;
    padding: 0;
}

#project_animation-controls li {
    display: inline;
    list-style: none;
    margin: 0 1.5em;
}

/* target <a> wrapping svg elements */
/* https://css-tricks.com/links-inline-svg-staying-target-events/ */
/* .controls {
    position: relative;
}

.controls::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
} */

.controls-svg {
    width: 30px;
    opacity: 0.3;
}

.controls-svg:hover {
    opacity: 0.6!important;
}

#vid-toggle {
    width: 40px;
    margin-bottom: -2px;
    opacity: 0.2;
}

/*About*/

.about-column {
    position: fixed;
    top: 0;
    bottom: 0;
}

.about-left {
    left: 0;
    right: 50%;
    background: white;
    text-align: left;
    padding: 20% 2% 0 6%;
}

.about-left p {
    max-width: 85%;
}

.about-right {
    left: 50%;
    right: 0;
    background: url('../img/fullPortrait.jpg');
    background-size: cover;
    opacity: 0.6;
    transition: opacity 1s ease;
}

.about-right:hover {
    opacity: 0.85;
}

/*Footer*/

footer p {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    text-align: center;
}

#thumbnail-container img { width: 100%; }

/* Media Queries */

@media all and (min-width: 768px) {
    #main {
        width: 750px;
        height: 220px;
        margin-top: -110px;
        margin-left: -375px;
    }

    #thumbnail-container {
        width: 330px;
        height: 330px;
    }

    .contact main section {
        padding: 1em 30%;
    }

    .project_animation video {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .project .col-6 {
        width: 100%;
    }

}

@media all and (min-width: 1280px) {

    .project_animation video {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .project-info {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        padding-right: 1em;
    }

    .project-info span {
        font-weight: bold;
    }

    .project-content {
        position: relative;
        width: 50%;
        float: right;
    }

    .project-content img {
        width: 100%;
    }

    .project .col-6 {
        width: 50%;
    }

}
