<% _.forEach(app.config.sections, function(section, s) { %>
<h1 class="display-4"><%- section.sectionName %></h1>
<div class="accordion w-100" id="<%- section.sectionId %>">
    <% _.forEach(section.categories, function(category, c) { %>
    <div class="card accordion-card">
        <div class="card-header position-relative" id="<%- category.categoryId %>">
            <h2 class="mb-0">
                <button class="btn btn-link stretched-link" type="button" data-toggle="collapse" data-target="#<%- category.categoryId %>" aria-expanded="false" aria-controls="category-<% print(c) %>">
                    <%- category.categoryName %>
                </button>
            </h2>
        </div>
        <div id="<%- category.categoryId %>" class="collapse" aria-labelledby="<%- category.categoryId %>" data-parent="#<%- section.sectionId %>">
            <div class="card-body">
                <div class="row">
                    <% _.forEach(category.links, function(link, l) { %>

                    <!-- begin card -->
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow" id="<%- link.linkId %>">
                            <!-- <img class="card-img-top btn-view" src="images/thumbs/<% print( link.linkId ) %>.png" alt="Card image cap"> -->
                            <div class="card-body">
                                <p class="card-text"><%- link.linkText %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-view btn-outline-secondary">View</button>
                                        <!-- <button data-link="<%- link.fileName %>" data-section-name="<%- section.sectionName %>" data-section-id="<%- _.kebabCase(section.sectionName) %>" data-category-name="<%- category.categoryName %>" data-category-id="<%- _.kebabCase(category.categoryName) %>" data-link-id="<%- _.kebabCase(link.linkText) %>" data-type="<%- link.fileType %>" data-text="<%- link.linkText %>" type="button" class="btn btn-sm btn-view btn-outline-secondary">View</button> -->
                                        <% if(link.fileType === 'pdf') { %>
                                            <a type="button" href="files/<%- section.sectionId %>/<% print(link.fileName)%>" download class="btn btn-sm btn-download btn-outline-secondary">Download</a>
                                        <% } %>
                                    </div>
                                    <small class="text-muted"><% print(_.toUpper(link.fileType)) %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <% }); %>
                    <!--links-->

                </div>
                <!--.row-->
            </div>
            <!--.card-body-->

        </div>
        <!--.accordion-card-->
    </div>
    <!--categories-->
    <% }); %>



    <% }); %>
    <!--section-->
