<% var project = app.projects['projects'][app.pid]; %>
<% if( project.animatedLogo ) { %>
<row>
    <div class="project_animation">
        <video id="projectVideo" autoplay playsinline muted>
        <source src="projects/project<% print(app.pid) %>/animation.mp4" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</row>
<ul id="project_animation-controls">
    <li><a class="controls" href="#"><img id="vid-play" class="controls-svg" src="img/icon-play.svg" alt="play-icon"></a></li>
    <li><a class="controls" href="#"><img id="vid-pause" class="controls-svg" src="img/icon-pause.svg" alt="pause-icon"></a></li>
    <li><a class="controls" href="#"><img id="vid-toggle" class="controls-svg" src="img/icon-unmute.svg" alt="toggle-icon"></a></li>
</ul>

<% } %>

<div class="row">
    <div style="background: #FFF;" class="project-details col-6 col-12-sm">
        <div class="project-info">
            <div>
            </div>
            <p><strong><% print(project.title) %></strong></p>
            <!-- <p><span>Prompt:</span> <% print(project.prompt) %></p> -->
                <% _.forEach(project.details, function(detail){ %>
                    <p><% print(detail) %></p>
                <% }); %>
        </div>
    </div>
    <div style="background: #FFF;" class="project-content col-6">

    <% _.forEach(project.samples, function(sample, s){ %>

        <div class="project-content_sample">
            <h4><% print(sample.caption) %></h4>
            <img src="projects/project<% print(app.pid) %>/samples/<% print(sample.fileName) %>" alt="<% print(project.title + ' ' + '-sample' + s) %>">
        </div>

    <% }); // forEach project.samples %>

    </div>
</div>
